<style> .loader {
  position: fixed;
  background-color: #FFF;
  opacity: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
</style>

<div class="container mt-5">
  <h1>Transactions-App</h1>
  <div *ngIf="loading" class="loader">
    <h1>Loading...</h1>
  </div>
  <button *ngIf="numWallets" routerLink="read" (click)="hideHome()" class="btn btn-primary"> Wallet Transactions
  </button>
  &nbsp;
  <button *ngIf="this.hideHomePage" routerLink="" (click)="unhideHome()" class="btn btn-success"> Home </button>
  <router-outlet></router-outlet>

  <div *ngIf="!numWallets && !hideHomePage" id="createWallet" class="container mt-5">
    <form [formGroup]="userForm" (ngSubmit)="createWallet()">
      <div class="col-lg-4 mt-2">
        <label for="name">User Name:</label><br>
        <input type="text" id="name" class="form-control" formControlName="name" placeholder="Enter User Name"
          required=true>
      </div>
      <div class="col-lg-4 mt-2">
        <label for="balance">Balance:</label><br>
        <input type=number id="balance" class="form-control" formControlName="balance" step=0.0001
          placeholder="Balance">
      </div>
      <div class="col-lg-4 mt-2">
        <button class="btn btn-primary btn-sm" type="submit" [disabled]="!userForm.valid">
          Create Wallet
        </button>
      </div>
    </form>
  </div>

  <div *ngIf="numWallets && !hideHomePage" id="WalletInfo" class="container mt-5">
    <h2>Wallet Information</h2>
    <div class="col-lg-4 mt-2">
      <label for="name">Name : {{ this.walletInfo.name }}</label><br>
    </div>
    <div class="col-lg-4 mt-2">
      <label for="balance">Balance : {{ this.walletInfo.balance }}</label><br>
    </div>
  </div>


  <div *ngIf="numWallets && !hideHomePage" id="createTransaction" class="container mt-5">
    <h2>Create Transaction</h2>
    <form [formGroup]="formTransaction" (ngSubmit)="createTransaction()">
      <div class="col-lg-4 mt-2">
        <label for="amount">Amount:</label><br>
        <input type="number" id="amount" class="form-control" formControlName="amount" step=0.0001
          placeholder="Enter Amount" required=true>
      </div>
      <div class="col-lg-4 mt-2">
        <label for="description">Description:</label><br>
        <input type=text id="description" class="form-control" formControlName="description" placeholder="Description"
          required=true>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked
          (click)="switchClicked($event)">
        <label class="form-check-label" for="flexSwitchCheckDefault">{{type}}</label>
      </div>
      <div class="col-lg-4 mt-2">
        <button class="btn btn-primary btn-sm" type="submit" [disabled]="!formTransaction.valid">
          Create Transaction
        </button>
      </div>


    </form>
  </div>
  </div>